{% extends "navbar.html" %}
{% block content %}

<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="input-field col s6">

            {{ form.username.label(class="form-control-label") }}

            {% if form.username.errors %}
            {{ form.username(class="invalid validate") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span class="error-feedback">{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.username(class="validate") }}
            {% endif %}
        </div>
        <div class="input-field col s6">

            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
            {{ form.email(class="invalid validate") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span class="error-feedback">{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="validate") }}
            {% endif %}
        </div>

    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form.interests.label(class="active") }}
            {% if form.interests.errors %}
            {{ form.interests(class="invalid validate") }}
            <div class="invalid-feedback">
                {% for error in form.interests.errors %}
                <span class="error-feedback">{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.interests(class="validate") }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form.school.label(class="active") }}
            {% if form.school.errors %}
            {{ form.school(class="invalid validate") }}
            <div class="invalid-feedback">
                {% for error in form.school.errors %}
                <span class="error-feedback">{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.school(class="validate") }}
            {% endif %}
        </div>
    </div>
    <div class="row">

        {{ form.picture.label() }}
        {{ form.picture(class="validate") }}
        {% if form.picture.errors %}
        {% for error in form.picture.errors %}
        <span class="error-feedback">{{ error }}</span></br>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>

{% endblock content %}