{% extends "navbar.html" %}
{% block content %}
    <h1>About Page</h1>

    <div class="row" style="margin-top: 10px;">
        <form action="" method="POST" class="col s12">
            {{ form.hidden_tag() }}
            </div>
            <div class="row">
            <div class="input-field col s12">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="validate") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="validate") }}
                {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
                {{ form.city.label(class="form-control-label") }}
                {% if form.city.errors %}
                    {{ form.city(class="validate") }}
                    <div class="invalid-feedback">
                        {% for error in form.city.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.city(class="validate") }}
                {% endif %}
                </div>
                <div class="input-field col s4">
                    {{ form.state_or_province.label(class="form-control-label") }}
                    {% if form.state_or_province.errors %}
                        {{ form.state_or_province(class="validate") }}
                        <div class="invalid-feedback">
                            {% for error in form.state_or_province.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.state_or_province(class="validate") }}
                    {% endif %}
            </div>
            <div class="input-field col s4">
                {{ form.country.label(class="form-control-label") }}
                {% if form.country.errors %}
                    {{ form.country(class="validate") }}
                    <div class="invalid-feedback">
                        {% for error in form.country.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.country(class="validate") }}
                {% endif %}
        </div>

          </div>

          <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
        </form>

    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
      </div>
            
{% endblock content %}
