{% extends "navbar.html" %}
{% block content %}
<h3>Recommended</h3>
<div class="row">

{% for user in recommend %}

<div class="card-class col s4">

<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="{{ url_for('profile', username=user.username) }}"><img style="border-radius: 50%; margin: auto; margin-top: 20px; width: 20%; height: 20%; text-align: center; " class="activator" src="static/profile_pics/{{ user.image_file }}"></a>

  </div>

  <div class="card-content">

    <span class="break-text card-title activator grey-text text-darken-4"><a href="/profile/{{ user.username }}">{{ user.username }}</a><i class="material-icons right">more_vert</i></span>
    <!--<p><a href="#">Connect</a></p>-->
      <a class="btn waves-effect">Connect</a>
  </div>
  <div class="card-action">
    <a href="{{ url_for('profile', username=user.username) }}">View Profile</a>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
    <p><i style="color: grey" class="material-icons tiny">school</i> &nbsp;
      Closest to {{ School.query.filter_by(id=current_user.school_id).all()[0].name }}, {{ School.query.filter_by(id=current_user.school_id).all()[0].city }}, {{ School.query.filter_by(id=current_user.school_id).all()[0].country }}
    </p>
    <span>You and {{ user.username }} have {{ recommend[user][0] }} similar interests.<br></span>
    <span>Common Interests:</span>
      
      
      {% for interest in recommend[user][1] %}
      <div style="color: white" class="teal lighten-2 chip">
        {{ interest }}
      </div>
      {% endfor %}

  </div>
</div>
</div>

<!--
<div class="row">
  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{ user.username }}</span>
        <p>This person has {{ recommend[user] }} similar interests.</p>
      </div>
      <div class="card-action">
        <a href="#">Connect</a>
      </div>
    </div>
  </div>
</div>-->
{% endfor %}



</div>

{% endblock content %}
