{% extends "layout.html" %}

{% block navbar %}
<div class="navbar-fixed">
    <nav class="blue lighten-2">
        <div class="nav-wrapper">
            <!--<a style="margin-left: 20px;" href="{{ url_for('home') }}" class="brand-logo">Logo</a>-->
            <a style="margin-left: 20px;" class="brand-logo" href="{{ url_for('home') }}"><img class="image-logo" src="{{ url_for('static', filename='images/logo_name.png') }}"></a>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('all') }}">All</a></li>
                <li><a href="{{ url_for('category') }}">Categories</a></li>
                <li><a href="{{ url_for('new') }}">New</a></li>
                <li><a href="{{ url_for('search') }}">Search</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('all') }}">All</a></li>
                <li><a href="{{ url_for('category') }}">Categories</a></li>
                <li><a href="{{ url_for('search') }}">Search</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('all') }}">All</a></li>
    <li><a href="{{ url_for('category') }}">Categories</a></li>
    <li><a href="{{ url_for('new') }}">New</a></li>
    <li><a href="{{ url_for('search') }}">Search</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
    {% else %}
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('all') }}">All</a></li>
    <li><a href="{{ url_for('category') }}">Categories</a></li>
    <li><a href="{{ url_for('search') }}">Search</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('login') }}">Log In</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
</ul>
{% endblock %}