{% extends "navbar.html" %}
{% block content %}
<div class="row">
    <img style="display: block; width: 30%;" class="align-centre responsive-img"
         src="https://res.cloudinary.com/{{ cloud_name }}/image/upload/{{ image }}">
    {% if admin %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.submit(class="red btn", style="margin-bottom: 20px") }}
        </div>
    </form>
    {% endif %}
    <div class="chip">
        {{ category }}
    </div>
    <br>
    {{ content|safe }}
</div>
{% endblock content %}