{% extends "navbar.html" %}
{% block content %}
<div class="row">
    <img class="specific-store-image align-centre responsive-img store-logo"
         src="https://res.cloudinary.com/{{ cloud_name }}/image/upload/{{ image }}">
    {% if admin %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.submit(class="red btn waves-effect", style="margin-bottom: 20px") }}
        </div>
    </form>
    {% endif %}
    <div class="chip">
        <a href="{{ url_for('specific_category', category=category) }}">
        {{ category }}
        </a>
    </div>
    <div class="chip">
        {{ chain }}
    </div>
    <br>
    {{ content|safe }}
</div>
{% include "fab.html" %}

{% endblock content %}